@import '../../color.scss';

.radio {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:not(:last-of-type) {
        margin-right: 20px;
    }

    &:hover {
        .input {
            background-color: $gray_200;
            border-color: $gray_600;
        }
    }

    &:active {
        .input {
            background-color: $gray_300;
            border-color: $gray_600;
        }
    }

    &.selected {
        .input {
            &::before {
                transform: scale(1);
                background-color: #646464;
            }
        }
    }
}

.input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: -2px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: $gray_100;
    border: 1px solid $gray_500;
    border-radius: 100%;
    transition: .1s ease background-color,
                .1s ease border-color;

    &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: inherit;
        transform: scale(.1);
        will-change: transform, background-color;
        transition: .1s cubic-bezier(.78,.14,.15,.86) transform,
                    .1s cubic-bezier(.78,.14,.15,.86) background-color;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -8px;
        left: -8px;
        width: 32px;
        height: 32px;
        background-color: transparent;
    }
}

.disabled,
.disabledSelected {
    cursor: default;
    
    .input {
        background-color: #f0f0f2;
        border: 1px solid #e1e1e6;
    }
    .label {
        color: $gray_700;
    }
    
    &:hover {
        .input {
            background-color: #f0f0f2;
            border: 1px solid #e1e1e6;
        }
    }

    &:active {
        .input {
            background-color: #f0f0f2;
            border: 1px solid #e1e1e6;
        }
    }

    &.selected {
        .input {
            &::before {
                transform: scale(1);
                background-color: #646464;
            }
        }
    }
}
.disabledSelected {
    .input {
        &::before {
            transform: scale(1);
            background-color: #a3a4a6;
        }
    }
}

.label {
    display: inline-block;
    margin-left: 8px;
}

.originInput {
    display: none;
}