.base {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.default {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    background-image: url("./loading-icons/default.gif");
}

.size32 {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url("./loading-icons/32.gif");
}