.table {
    display: table;
    width: 100%;
    height: 100%;
}
.tableCell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.inlineBlock {
    display: inline-block;
    text-align: left;
}