@import '../../color.scss';

.wrapper {
    padding-left: 32px;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid $gray_300;

    li {
        display: inline-block;
        vertical-align: top;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 12px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: .1s ease border-bottom-color;

        &:hover {
            border-bottom-color: $gray_300;
        }

        &.selected {
            border-bottom-color: #44b549;
        }
    }
}